
.bird-img{
  margin-right: 10px;
}


.about_me{
  text-align: center;
}

.title{
  margin-top: 100px;
}

.img_text{
  font-family: 'Anek Latin', sans-serif;
}

.about_images{
  margin: 2px;
  border-radius: 25%;
  width: 290px;
  height:174px;
}

#coding{
  z-index: 0;
  position: absolute;
  right:1%;
}

 #cooking{
   position: absolute;
   left: 1%;
 }

 #gaming{
   position: absolute;
   left:21%;
   top:30%;
 }

#sports{
  position: absolute;
  right:21%;
  top:30%;
}

#title_about{
  padding-bottom: 20px;
}

#Ridhan{
  position: absolute;
  right:43%;
}
